<div class="column" id="burgers-to-eat">
  <div>
    {{#each burgers}}
    {{#unless this.devoured}}
    <form class="burger" id="burger{{this.id}}" action="/api/devour?_method=PUT" method="POST">
      <h4>{{this.id}}. {{this.burger_name}}</h4>
      <hr>
      <i>&#x1F354</i>
      <input class="b-id" type="hidden" name="id" value="{{id}}">
      <input class="b-name" type="hidden" name="burger_name" value="{{burger_name}}">
      <button id="test" type="submit">Devour burger!</button>
    </form>
    {{/unless}}
    {{/each}}
  </div>
</div>
<div class="column" id="burgers-devoured">
  <div>
    {{#each burgers}}
    {{#if this.devoured}}
    <form class="burger" id="burger{{this.id}}">
      <h4>{{this.id}}. {{this.burger_name}}</h4>
      <hr>
      <i>&#x1F354</i>
      <span> Eaten by {{this.Customer.customer}}!</span>
    </form>
    {{/if}}
    {{/each}}
  </div>
</div>